# --- Configuration Firebase ---
# Le contenu JSON complet de votre clé de compte de service Firebase
SERVICE_ACCOUNT=''

# --- Configuration Email (Nodemailer) ---
EMAIL_USER=
EMAIL_PASS=
# En local: http://localhost:3000/api/mail
EMAIL_URL=

# --- Configuration Paiement (SingPay) ---
SINGPAY_CLIENT_ID=
SINGPAY_CLIENT_SECRET=
SINGPAY_WALLET=
SINGPAY_DISBURSEMENT=
