# Forcer la plateforme pour sharp lors de l'installation sur Netlify
sharp_binary_host="https://npmmirror.com/mirrors/sharp"
sharp_libvips_binary_host="https://npmmirror.com/mirrors/sharp-libvips"
platform=linux
arch=x64
