/* https://tailwindcss.com/docs/guides/nextjs */

@import url('https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

body {
    font-family: 'Kumbh Sans', sans-serif;
}

body .product {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.processing {
    overflow: hidden;
    height: 100vh;
}

.processing #content {
    filter: blur(4px);
}

.processing .loading {
    display: flex;
}

.image-input::-webkit-file-upload-button {
  visibility: hidden;
}
.image-input::before {
  content: 'Cliquez pour choisir une image';
  display: inline-block;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.image-input:hover::before {
  border-color: black;
}
.image-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}